/*
  footer.css
*/

.footer {
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  color: #00b500;
}

.footer p {
  margin-top: 12px;
  margin-bottom: 30px;
}

.footer hr {
  width: 100%;
}

.footer .diveider {
  /*width: 980px;*/
  height: 18px;
  color: #aaaaaa;
  overflow: hidden;
}
