.paginator {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 80px;
  font-size: 1.2em;
}

.paginator.notdisplaying {
  display: none;
}

.paginator .pagination {
  text-align: center;
  padding: 0;
}

.paginator .pagination li {
  display: inline-block;
  padding: 5px;
  opacity: 0.7;
}

.paginator .pagination .active {
  opacity: 1;
}

.paginator .pagination .hiding {
  display: none;
}

.paginator .pagination a {
  color: #b9bfff;
}
